.Home3 {
    /* width: 100vw; */
    /* height: 500px; */
    /* height: 500px; */
    margin-top: -100px;
    background-color: #c49b63;
    /* border: 1px solid blueviolet; */
}


 .Home3 .form-group {
    /* background-color: #c49b63; */
    padding: 1rem;
    width: 480px !important;

    /* border: 1px solid yellow; */
}

.Home3 .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid !important;
    color: #fff;
}

.Home3 input::placeholder {
    color: #fff;
}

.Home3 textarea::placeholder {
    color: #fff;
}

.Home3 input: {
    color: #fff;
}

.Home3 #btn {
    background-color: #fff;
    color: #000;
    
}